{% load static %}

<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdn.bootcss.com/qs/6.5.2/qs.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@1.6/lib/index.css">

    <!-- 引入组件 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@1.6/lib/vant.min.js"></script>
    <script src="{% static 'todo/javascript/api.js' %}"></script>
    <script src="{% static 'javascript/request/http.js' %}"></script>
</head>
<body>
    <div id="todo">
        <van-cell-group>
            <van-field
                v-model="title"
                required
                clearable
                label="名称"
                ></van-field>

            <van-field
                v-model="detail"
                label="详细描述"
                autosize
                ></van-field>

        </van-cell-group>

        <van-row gutter="20" type="flex" justify="center">
            <van-col span="8">
                <van-button size="large" type="primary" v-on:click="add">添加</van-button>
            </van-col>
        </van-row>
    </div>

    <script src="{% static 'todo/javascript/add.js' %}"></script>
</body>
</html>
