{% load static %}

<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdn.bootcss.com/qs/6.5.2/qs.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@1.6/lib/index.css">

    <!-- 引入组件 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@1.6/lib/vant.min.js"></script>
    <script src="{% static 'todo/javascript/api.js' %}"></script>
    <script src="{% static 'user/javascript/api.js' %}"></script>
    <script src="{% static 'javascript/request/http.js' %}"></script>
</head>
<body>
    <div id="list">
        <van-row gutter="20" type="flex" justify="center">
            <van-col span="8">
                <van-button size="large" type="primary" v-on:click="addItem">Add</van-button>
            </van-col>

            <van-col span="8">
                <van-button plain size="large" type="danger" v-on:click="signOut">Sign Out</van-button>
            </van-col>
        </van-row>

        <van-list
            v-model="loading"
            @load="fetchData"
            :finished = "finished"
            >
            <van-cell
                v-for="item in items"
                :title = "item.title"
                v-on:click = "editItem(item.id)"
                :style = "item.status == 0 ? 'color : gray' : 'color : green'"
            >
                <!-- <van-button size="small" type="info" v-on:click="editItem(item.id)">Edit</van-button> -->
                <van-button size="small"
                            type="primary"
                            v-on:click="finishItem(item.id)"
                            v-if="item.status == 0">Finish</van-button>
                <van-button size="small" type="danger" v-on:click="deleteItem(item.id)">Delete</van-button>
            </van-cell>
        </van-list>
    </div>

    <script src="{% static 'todo/javascript/list.js' %}">
    </script>
</body>
</html>
